<%- include ('header') -%>

<body>
    <div class="box">
        <h1>
            To-List By Ashay Ramolia
        </h1>
        <p>This project is available for forking and editing on the github page:<p>
        <a href="https://github.com/ashayramolia/todo"> Github Repo</a>
        
    </div>
</body>

<%- include('footer') -%>